.load-btn {
    border: 1px solid #333333;
    border-radius: 20px;
    font-size: 14px;
    background-color: #E50914;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
}

.load-btn:hover {
    background-color: #B20710;
}

.no-more-movies {
    text-align: center;
    font-size: 16px;
    color: #E0E0E0;
    margin: 20px 0;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #333333;
}
